.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

#footer {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.offcanvas-end {
  width: 50%;
}

.offcanvas-body {
  padding: 0;
}

.logout {
  margin-left: 5%;
  margin-top: 5%;
}

table {
  font-size: 0.5rem;
  border-spacing: 0;
}

.display-6 {
  font-size: 1.5rem;
}

#dateDisplayName {
  margin-left: 2%;
  margin-right: 2%;
}
